<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimes.naturalhour">

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- required to interact w/ Suntimes provider -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- Activity: Main -->
        <activity
            android:name="com.forrestguice.suntimes.naturalhour.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimes.action.ADDON_MENUITEM" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesMenuItemTitle" android:value="@string/app_name" />

        </activity>

        <!-- Activity: Settings -->
        <activity android:name=".SettingsActivity" android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_round" />

        <!-- Widget: 3x2 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_3x2"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_3x2" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_3x2_ConfigActivity"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <!-- Widget: 4x3 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_4x3"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_4x3" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_4x3_ConfigActivity"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

        <!-- Widget: 5x3 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_5x3"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_5x3" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_5x3_ConfigActivity"
            android:label="@string/app_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

    </application>

</manifest>