<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimes.naturalhour">
    
    <uses-feature android:name="android.software.app_widgets" android:required="false"/>   <!-- provides app widgets -->

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- required to interact w/ Suntimes provider -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor">

        <!-- Activity: Main -->
        <activity
            android:name="com.forrestguice.suntimes.naturalhour.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimes.action.ADDON_MENUITEM" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <intent-filter>
                <action android:name="suntimes.action.SHOW_DATE" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesMenuItemTitle" android:value="@string/app_name" />

            <intent-filter>
                <action android:name="suntimes.action.LIST_WIDGETS" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="WidgetInfoProvider"
                android:value="content://suntimes.naturalhour.provider" />

        </activity>

        <!-- Activity: AlarmPicker -->
        <activity
            android:name=".ui.alarms.AlarmActivity" android:label="@string/app_name"
            android:permission=""
            android:icon="@mipmap/ic_launcher_round">

            <intent-filter>
                <action android:name="suntimes.action.ADDON_EVENT" />
                <category android:name="suntimes.SUNTIMES_ALARM" />
            </intent-filter>
            <meta-data android:name="EventInfoProvider"
                android:value="content://suntimes.naturalhour.provider" />

            <intent-filter>
                <action android:name="suntimes.action.PICK_EVENT" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesEventPickerTitle"
                android:value="@string/app_name" />

        </activity>

        <!-- Activity: Settings -->
        <activity android:name=".SettingsActivity" android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_round" />

        <!-- Color Collection Settings -->
        <activity
            android:name=".ui.colors.ColorValuesSheetActivity"
            android:label="@string/configAction_colors"
            android:icon="@drawable/ic_palette"
            android:exported="false" />

        <!-- Content Provider -->
        <provider
            android:name="com.forrestguice.suntimes.naturalhour.data.NaturalHourProvider"
            android:authorities="suntimes.naturalhour.provider"
            android:exported="true" android:permission="suntimes.permission.READ_CALCULATOR"
            android:syncable="false" />

        <!-- Widget: 3x2 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_3x2"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_3x2" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_3x2_ConfigActivity"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="true" />

        <!-- Widget: 4x3 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_4x3"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_4x3" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_4x3_ConfigActivity"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="true" />

        <!-- Widget: 5x3 -->
        <receiver android:name=".ui.widget.NaturalHourWidget_5x3"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.naturalhour.WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_naturalhour_5x3" />
        </receiver>
        <activity android:name=".ui.widget.NaturalHourWidget_5x3_ConfigActivity"
            android:label="@string/widget_name" android:icon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="true" />

        <!-- Daydream / Screensaver -->
        <service
            android:name=".ui.daydream.ClockDaydreamService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/daydream_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">

            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/daydream_clock" />
        </service>
        <activity
            android:name=".ui.daydream.ClockDaydreamSettingsActivity"
            android:label="@string/daydream_name"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTop" />

    </application>

</manifest>