name: Android CI

on: 
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Gradle Wrapper Validation
      uses: gradle/actions/wrapper-validation@v4
        
    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleProductionRelease
    
    - name: Build with Gradle (Unit tests)
      run: ./gradlew testProductionRelease
    
    - name: Build with Gradle (lintVitalRelease)
      run: ./gradlew lintVitalProductionRelease
      
    - name: Upload artifacts (debug apk)
      uses: actions/upload-artifact@v4
      with:
        name: app
        path: app/build/outputs/apk/debug/app-debug.apk
        
    - name: Upload artifacts (lint results)
      uses: actions/upload-artifact@v4
      with:
        name: lint-results.html
        path: app/build/reports/lint-results.html
